<!DOCTYPE html>
<html>
<head>


<script src="bower_components/angular/angular.js"></script>
<script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>

<script src="chatter.js"></script>

</head>
<body ng-app="chatter">
  <div ng-controller="chat">
    <div>
      <h1>Message Display</h1>
      <ul>
        <li ng-repeat="message in messages">
       {{message.user}} says {{message.text}}
        </li>
      </ul>
    </div>
    <div>
      <h1>Add messages</h1>
      <p>Name : <input type="text" ng-model="newmessage.user"></p>
      <p>Message :<input type="text" ng-model="newmessage.text"></p>
      <button ng-click="send(newmessage)">Send</button>

    </div>
  </div>
</body>
</html>
