<div class="message-menu">{{messagesCtrl.convoName}}</div>
<div class="message-display">
  <div class="message" ng-repeat="msg in messagesCtrl.messages">
    <div class="message-username">{{msg.user}}</div>
    <div class="message-body">{{msg.body}}</div>
  </div>
</div>
<div class="footer">
  <div class="user-menu">
    <form ng-show="!messagesCtrl.hasUser" ng-submit="messagesCtrl.setUserName()">
      <input type="text" class="input-box-text" ng-model="messagesCtrl.user" placeholder="What's your name?">
    </form>
    <div class="user-menu-username" ng-show="messagesCtrl.hasUser">{{messagesCtrl.user}}</div>
  </div>
  <div class="input-box">
    <form ng-show="messagesCtrl.hasUser" ng-submit="messagesCtrl.send()">
      <input type="text" class="input-box-text" ng-model="messagesCtrl.message.body" placeholder="Write a message...">
    </form>
  </div>
</div>
